/* #region GENERAL */
:root {
    --ms-dark-blue: #051e34;
    --ms-blue: #1b72e8;
    --ms-main-bg: #f8f9fa;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--ms-main-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

.ms-bg-dark-blue {
    background-color: var(--ms-dark-blue);
}

.ms-bg-blue {
    background-color: var(--ms-blue);
    color: #fff;
}

.ms-bg-main {
    background-color: var(--ms-main-bg);
}

.ms-bg-white {
    background-color: #fff;
}

.ms-logo-container {
    width: 50px;
}

/* #endregion GENERAL */
/* #region HEADER */
header {
    height: 4.375rem;
}

.ms-search {
    background-color: #e5e5e5;
    border-radius: 4px;
    padding: 4px;
}

.ms-search-bar {
    width: 100%;
    border: none;
    background-color: transparent;
}

.ms-search-bar:focus-visible {
    outline: none
}

header .dropdown .btn {
    border: none;
}

/* #endregion HEADER */
/* #region MAIN */
main {
    overflow: auto;
}

.ms-page-wrapper {
    height: calc(100vh - 4.375rem);
    display: flex;
}

.ms-sidebar {
    background-image: url(img/sidebar-bg.png);
    background-color: var(--ms-dark-blue);
    height: 100%;
    width: 4.375rem;
    flex-shrink: 0;
    color: #fff;
    padding: 2.25rem 1.25rem;
    display: flex;
    flex-direction: column;
}

.ms-primary-badge {
    background-color: #165bba;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.ms-add-btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
}

.ms-action-btn {
    background-color: transparent;
    border: 1px solid #6c757d;
    border-radius: 4px;
    color: #6c757d;
}

#offcanvasRight {
    width: 100%;
    transition: width 0.25s ease;
}

.ms-table-logo-xs {
    width: 1.875rem;
    border-radius: 50%;
    overflow: hidden;
}

.ms-form-check {
    padding-left: 36px;
    padding-block: 6px;
}

/* #endregion MAIN */
/* #region RESPONSIVE */
/*----- breakpoints --------------
Extra small	None	<576px
Small	    sm	    ≥576px
Medium	    md	    ≥768px | Tablet
Large	    lg	    ≥992px | Desktop
Extra large	xl	    ≥1200px
Extra extra large	xxl	≥1400px 
----------------------------------*/

/* Large | Desktop */
@media screen and (min-width: 992px) {
    .ms-sidebar {
        width: 9.375rem;
    }

    .ms-sidebar a span:first-of-type {
        width: 25%;
    }

    #offcanvasRight {
        width: 50%;
    }
}

/* #endregion RESPONSIVE */